body {background-image: url('https://wallpaperaccess.com/full/1302751.jpg');
}
p {color: rgb(56, 23, 8);
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: bold;
font-size: 18px;
}
.canvas {
    background-color: white;
border: 3px; border-style: solid; border-color:rgb(56, 23, 8);
}
